.vs/config/applicationhost.config
.vs/SistContabilidadMCA/v14/.suo
.vs/config/applicationhost.config
BusinessLogicMCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataLayerMCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SistContabilidadMCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache