@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="container-fluid">
    <div style="padding-top:1em;" class="center-block">
     
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-outline-naranja">
                        <h1 class="m-b-0 text-info text-center">CUENTA BLOQUEADA</h1>
                    </div>
                    <div class="card-body">

                        <hgroup class="text-center">
                            <h3 class="text-danger">Su cuenta fue bloqueada temporalmente por seguridad, debido a múltiples intentos de acceso.</h3>
                            <h3 class="text-danger">Favor pruebe después de unos minutos.</h3>
                        </hgroup>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


